{{define "home"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .PageTitle}}
<body>
{{template "header" .PageTitle}}
    <main style="margin: 0 auto; max-width: var(--width-content); padding: 1rem 1rem;">
    {{template "subway" .}}
    </main>
    {{template "footer" .CurrentTime}}
</body>
</html>
{{end}}
