{{define "bus"}}
<div>
    <ul>
        <li>버스번호: {{.BusRouteAbrv}}</li>
        <li>첫번째버스: {{.Arrmsg1}}</li>
        <li>두번째버스: {{.Arrmsg2}}</li>
        <li>첫번째버스위치: {{.StationNm1}}</li>
    </ul>
</div>
<hr  />
{{end}}